<div class="container">
    <h1>Bem-vindo ao Admin do Luna</h1>
    <p>Selecione uma das opções abaixo para gerenciar o aplicativo.</p>
    
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-lg btn-primary btn-block" routerLink="/users">Gerenciar Usuários</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-lg btn-primary btn-block" routerLink="/calendar">Gerenciar Calendário</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-lg btn-primary btn-block" routerLink="/workouts">Gerenciar Treinos</button>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4">
        <button class="btn btn-lg btn-primary btn-block" routerLink="/symptoms">Gerenciar Sintomas</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-lg btn-primary btn-block" routerLink="/reports">Gerenciar Relatórios</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-lg btn-primary btn-block" routerLink="/alerts">Gerenciar Alertas</button>
      </div>
    </div>
  </div>
  